@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

main {
  position: relative;
  max-width: 100em;
  padding: 4em;
  margin: 0 auto;
  box-sizing: border-box;
}

html {
  background-color: rgb(35, 43, 43);
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  color: rgb(114, 156, 156);
  border-color: rgb(114, 156, 156);
}

.container {
  padding: 1em 2em;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  color: rgb(166, 124, 105);
}

a {
  color: rgb(166, 124, 105);
}

a:hover {
  color: rgb(196, 106, 101);
}

hr {
  border: 1px solid rgb(114, 156, 156);
}

table {
  border: 1px solid;
  width: 100%;
  margin: 1em 0em;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(58, 80, 80);
  color: rgb(241, 174, 115);
}

td,
th {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #2a3a37;
}

tr:hover {
  background-color: rgb(106, 119, 115);
}

fieldset {
  margin: 1em 0em;
  border: 1px solid rgb(114, 156, 156);
}

.button {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(114, 156, 156);
  background-color: rgb(35, 43, 43);
  color: rgb(114, 156, 156);
  padding: 8px 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button:after {
  content: "⇠";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  padding-bottom: 1em;
  transition: 0.4s;
}

.button:hover {
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover {
  opacity: 1;
  left: 0;
}
